<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Categories</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Aridity Weather Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- js -->
	<script type="text/javascript" th:src="@{/js_2/jquery.min.js}"></script>
	<!-- //js -->
	<link rel="stylesheet" type="text/css" th:href="@{css/easy-responsive-tabs.css}" />
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<h2 th:text="${category.name}">Electronics</h2>
<div th:if="${noResults}">Sorry, no items are being sold in this category</div>
<div th:unless="${noResults}">
	<table>
		<tr>
			<th>Title</th>
			<th>Image</th>
			<th>Category</th>
			<th>Price</th>
			<th>View</th>
		</tr>
		<tr th:each="item : ${items} ">
			<td th:text="${item.title}"></td>
			<td><img th:src="@{'/items/' + ${item.id} + '/image'}"/></td>
			<td th:text="${item.category.name}"></td>
			<td th:text="${#numbers.formatCurrency(item.price)}"></td>
			<td> <a th:href="@{'/items/detail?id='+${item.id}}">view</a></td>
		</tr>
	</table>
	<a style="margin: 10px"
	   th:each="pageNum : ${pageLinks}"
	   th:href="'/items/findByCategory?id=' + ${category.id} + '&pageNumber=' + ${pageNum}"
	   th:text="${pageNum}">12</a>
</div>
</body>
</html>
