<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Error: Buyer Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Aridity Weather Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- js -->
    <script type="text/javascript" th:src="@{/js_2/jquery.min.js}"></script>
    <!-- //js -->
    <link rel="stylesheet" type="text/css" th:href="@{css/easy-responsive-tabs.css}" />
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<h4>Error: the buyer email is not found in system. Please check it</h4>
<a th:href="@{/items/posted}">My Items</a>
</body>
</html>
