<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>User List</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Magnificent login form a Flat Responsive Widget,Login form widgets, Sign up Web 	forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link th:href="@{/css/style_user.css}" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-css-->
<link rel="stylesheet" th:href="@{/css/font-awesome.css}"><!--fontawesome-->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"><!--online fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet"><!--online fonts-->
	<link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
	<div class="w3ls-main">
		<div class="wthree-heading">
			<h1>User List</h1>
		</div>
			<div class="wthree-container">
				<div class="wthree-form">
					<div class="agileits-2">
						<h2>UserList</h2>
					</div>
					<table color="white">
	<tr>
	  <th color="white">  Username </th>
	  <th>  Email </th>
	  <th>  AverageRating </th>
	  <th>  Operations </th>
	</tr>
	   <tr th:each="user : ${userList} ">
         <td th:text="${user.username}"></td>
         <td th:text="${user.email}"> </td>
         <td th:text="${user.calcAverageRating()}"> </td>  
         <td>
            <form th:action="@{/admin/users}" th:object="${user}" method="post"> 
               <input name="user_id" th:value="${user.id}" type="hidden" /> 
               <input type="submit" name="option" value="delete"/> 
            </form>  
         </td>
       </tr>
	
</table>
				</div>
			</div>
	</div>
		<div class="agileits-footer">
			<p>&copy; 2018 CampusRecycle. All Rights Reserved </p>
		</div>
</body>
</html>

					
					
					
