<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Campus Recycle</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="native subscribe form a Flat Responsive Widget,Login form widgets, Sign up Web 	forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<link th:href="@{/css/style_home.css}" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-css-->
<link href="//fonts.googleapis.com/css?family=Cabin" rel="stylesheet"><!--online-fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet"><!--online-fonts-->

</head>
<body>
<div class="w3ls-head">
		Home
</div>

	<div class="w3ls-container">
		<div class="w3l-form">
				
				<span th:unless="${isAdmin}">  
<h1>HOME PAGE</h1>
<span th:text="${currentUsername}"></span>
<a th:href="@{/items/posted}">My Sales</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</span>
<span th:if="${isAdmin}">
<h1>ADMIN HOME PAGE</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>    
    <p><a th:href="@{/admin/allpendings}"> Pending Posts </a></p>
    <p><a th:href="@{/admin/categories}"> Categories </a></p>
    <p><a th:href="@{/admin/users}"> Users </a></p>

</span>
		</div>
	</div>
		<footer>&copy; 2018 CampusRecycle. All Rights Reserved 
		</footer>
</body>
</html>